<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title article-preview-component
        link(rel="icon", href="images/favicon-32x32.png", type="image/png")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap")
        link(rel="stylesheet", href="normalize.css")
        link(rel="stylesheet", href="style.css")
    body
        section.page
            article
                div.img
                div.text
                    h2 Shift the overall look and feel by adding these wonderful touches to furniture in your home
                    p Ever been in a room and felt like something was missing? Perhaps it felt slightly bare and uninviting. I've got some simple tips to help you make any room feel complete.
                    div.auther
                        img(src="images/avatar-michelle.jpg" width="40" height="40" class="auther-img" alt="avatar-michelle")
                        div.auther-text
                            span.span-auther Michelle Appleton #[br]
                            span.span-date 28 jun 2020
                        div.share-icons
                            button #[img(src="images/icon-share.svg" alt="icon-share")]
                            div.icons
                                span SHARE
                                img(src="images/icon-facebook.svg" alt="icon-facebook")
                                img(src="images/icon-twitter.svg" alt="icon-twitter")
                                img(src="images/icon-pinterest.svg" alt="icon-pinterest")
        script(src="main.js")
        //-this site made by Mohamed Maghraby