.page{
    background-color: hsl(210, 46%, 95%);
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    p, h6, span{
        font-size: 13px;
    }
    article{
        width: 730px;
        height: 285px;
        background-color: #fff;
        margin: auto;
        display: flex;
        border-radius: 10px;
        transform: translateY(50%);
        @media(max-width: 800px){
            transform: translateY(18%);
            max-width: 320px;
            flex-direction: column;
            height: auto;
            .img{
                flex: none !important;
                height: 200px;
                border-radius: 10px 10px 0 0 !important;
            }
        }
        .img{
            background-image: url('images/drawers.jpg');
            background-size: cover;
            flex: 3;
            border-radius: 10px 0 0 10px;
        }
        .text{
            position: relative;
            padding: 4%;
            flex: 4;
            @media(max-width: 800px){
                padding: 0;
                h2{
                    padding: 11% 10% 5% 10%;
                    margin: 0;
                    font-size: 18px;
                }
                p{
                    padding: 0 10% 5% 10%;
                    margin: 0;
                }
            }
            h2{
                margin: 0;
                color: hsl(217, 19%, 35%);
            }
            p{
                font-size: 15px;
                color: hsl(214, 17%, 51%);
            }
            .auther{
                @media (max-width: 800px) {
                    position: relative;
                    .share-icons{
                        position: absolute;
                        width: 100%;
                        top: 0;
                    }
                }
                .share-icons{
                    position: relative;
                    button{
                        position: absolute;
                        right: 18px;
                        bottom: 5px;
                        background-color: hsl(210, 46%, 95%);
                        border: none;
                        padding: 6px 8px;
                        border-radius: 50%;
                        cursor: pointer;
                        @media (max-width: 800px) {
                            position: absolute;
                            right: 32px;
                            bottom: 20px;
                            z-index: 2;
                        }
                    }
                    button.active{
                        background-color: hsl(214, 17%, 51%);
                        img{
                            filter: brightness(0) invert(1);
                        }
                    }
                    .icons{
                        position: absolute;
                        background-color: hsl(217, 19%, 35%);
                        padding: 12px 15px;
                        border-radius: 10px;
                        right: -71px;
                        bottom: 61px;
                        display: none;
                        @media(max-width: 800px){
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            border-radius: 0;
                            width: 100%;
                            padding: 23px 0;
                            display: none;
                            &::after{
                                display: none;
                            }
                            span{
                                padding: 0 15px 0 25px !important;
                            }
                        }
                        span{
                            position: relative;
                            top: -2px;
                            letter-spacing: 4px;
                            color: hsl(212, 23%, 69%);
                            @media(max-width: 800px){
                                
                            }
                        }
                        span, img{
                            padding: 0 10px;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            bottom: -19px;
                            border-style: solid;
                            border-width: 10px;
                            border-color: #48556a transparent transparent transparent;
                            height: 0;
                            width: 0;
                            left: 50%;
                        }
                    }
                }
                .auther-img{
                    margin-top: 1px;
                    border-radius: 50%;
                    display: inline-block;
                    @media (max-width: 800px) {
                        margin-left: 10%;
                    }
                }
                .auther-text{
                    display: inline-block;
                    @media (max-width: 800px) {
                        margin-bottom: 20px;
                    }
                    h6{
                        margin: 0;
                        padding: 5px;
                        color: hsl(217, 19%, 35%);
                    }
                    span{
                        padding: 5px;
                        color: hsl(212, 23%, 69%);
                    }
                }
            }
        }
    }
}
/* this site made by Mohamed Maghraby */
